<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".AmplifyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Toysexchange">
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:theme="@style/ShopHopAppTheme"/>
        <activity
            android:name=".UI.toyListActivity"
            android:exported="false" />
        <activity
            android:name=".UI.eventListActivity"
            android:exported="false" />
        <activity
            android:name=".profileActivity"
            android:theme="@style/ShopHopAppTheme"
            android:exported="false" />
        <activity
            android:name=".UI.ToyDetailActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".UI.EventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".UI.EventActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UI.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".UI.data.model.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.SignUpActivity"
            android:exported="false"
            android:label="@string/title_activity_signup" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".UI.ToyActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".WishListActivity"
            android:exported="false"/>
    </application>

</manifest>